<h1>Editing Itinerary</h1>

<%= render 'form', itinerary: @itinerary %>

<%= link_to 'Show Itinerary', trip_itinerary_path(@trip, @itinerary)%> |
<%= link_to 'Back to trip', trip_path(@itinerary.trip) %>
