<%# minor styling just like trips new view %>
<div class="card mt-3">

  <div class="card-header">
    <h1>New Itinerary</h1>
  </div>

  <div class="card-body"> 
    <%= render 'form', itinerary: @itinerary %>
  </div>

  <div class="card-footer">
    <%= link_to 'Back to trip', trip_path(@trip) %>
  </div>

</div>