<div class="mt-5">
    <h4 class="text-center">User Created</h4>
    <%= line_chart charts_users_per_day_path %>
</div>

<div class="mt-5">
    <h4 class="text-center">Orders Created</h4>
    <%#  bar_chart @orders.group_by_day(:created_at).count %>
    <%= bar_chart charts_orders_per_day_path %>
</div>

<div class="mt-5">
    <h4 class="text-center">Trips popularity</h4>
    <%= column_chart @orders.joins(:trip).group(:'trips.title').count %>
</div>