<h1>Let's start a new journey....</h1>
<p>Welcome to home page</p>


<%# privacy policy page button and fontasesome icons %>
<%= link_to privacy_policy_path do %>  
<i class="fas fa-cog fa-spin fa-3x"></i>
Privacy Policy
<% end %>

<%# products page button and fontasesome icons %>
<%= link_to products_path, class:'btn btn-success' do %>  
<i class="far fa-gem "></i>
Products
<% end %>