<%# bootstrap format for new page %>
<div class="card mt-3">

  <div class="card-header">
    <h1>
      <i class="fa-solid fa-cart-flatbed-suitcase"></i>
      New Trip
    </h1>
  </div>

  <div class="card-body"> 
    <%= render 'form', trip: @trip %>
  </div>

  <div class="card-footer">
    <%= link_to 'Back', trips_path %>
  </div>

</div>