<%# dynamic title for trip edit page => trips edit page title should like Travel Fun/Editing xxx%> 
<% content_for :title do %>
  Travel Fun/Editing <%= @trip.title %>
<% end %>

<div class="card mt-3">
  <div class="card-header">
    <h1>
      <i class="fa-solid fa-pen-to-square"></i>
      Editing Trip
    </h1>
  </div>
  
  <div class="card-body">
    <%= render 'form', trip: @trip %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', @trip %> |
    <%# I add below path in case when user in edit page, click back button will not go to listing page, I want them can go to the exactly trip page %>
    <%= link_to 'Back', trip_path(params[:id]) %>
  </div>
