<%# dynamic title for trip new page => trips new page title should like Travel Fun/New Trip%> 
<% content_for :title do %>
  Travel Fun/New Order
<% end %>

<%# bootstrap format for new order page %>
<div class="card mt-3">

  <div class="card-header">
    <h3>
      <i class="fa-solid fa-gift"></i>
      <%= link_to @trip.title, trip_path(@trip) %>
    </h3>
    <hr/>
    <h3>
    <i class="fa-solid fa-bag-shopping"></i>
      Purchase Trip
    </h3>
  </div>

  <div class="card-body"> 
    <%= form_tag trip_orders_path(@trip) do %>
        <%= submit_tag "Buy for #{@trip.price}", class: "btn btn-lg btn-success"%>
    <% end %>
  </div>

  <div class="card-footer">
    <%= link_to 'Back', trip_path(@trip) %>
  </div>

</div>