<!-- Bootstrap Footer format start -->
<footer class="page-footer font-small blue-grey lighten-5 mt-5">

  <div style="background-color:#019267;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 text-white">Go ahead and treat yourself. Let's Travel</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column Icons Start -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f text-white mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter text-white mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g text-white mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in text-white mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram text-white"> </i>
          </a>

        </div>
        <!-- Grid column  Icons End -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Travel Fun</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> This is very cool company! </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Our Trips</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Great Trip</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Nice Trip</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Cool Trip</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Bootstrap Cool</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <%= link_to edit_user_registration_path, class: "dark-grey-text" do %>
              Your Account
          <% end %>
        </p>
        <p>
          <%= link_to privacy_policy_path, class: "dark-grey-text" do %>
              Privacy Policy
          <% end %>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Hobart, Tasmania, Australia</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> welcome@gmail.com </p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 12 345 567 88 </p>
        <p>
          <i class="fas fa-print mr-3"></i> + 12 345 567 10 </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2021 Copyright:
    <a class="dark-grey-text" href="/"> Lance Liu </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



