<%# use bootstrap @4 alert format %>
<% flash.each do |name,msg| %>
    <%# if name == 'notice', then alert-success color, otherwise, warning color, you can find the logic in application_helper%>
    <div class="alert alert-<%= select_alert_subclass(name) %> alert-dismissible fade show" role="alert">
        <%# show the notice msg in bold to users %>
        <strong> <%= msg %> </strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>