<%# show page will display each product details %>
<div class="container mt-3">
<%= link_to 'Travel Plans', products_path %>
\
<%# icon + boostrap color %>
<i class="fa-solid fa-map-location-dot text-info"></i>
<%= link_to @product.title, product_path(@product) %> 
<p></p>
<%# render partial page product for exactly product %>
<%= render 'products/product', product: @product %>
</div>
